<div class="container">
    <div class="header">

    </div>
    <!-- here comes da boom -->
    <div class="body">
        <div class="helper-left" data-position="left-hidden" #leftHidden></div>

        <div class="lowPrio" data-position="left" #left></div>

        <div class="midPrio" data-position="left-center" #leftCenter></div>

        <div class="highPrio" data-position="center" #center></div>

        <div class="midPrio" data-position="right-center" #rightCenter></div>

        <div class="lowPrio" data-position="right" #right></div>

        <div class="helper-right" data-position="right-hidden" #rightHidden></div>
    </div>
    <div class="footer">

    </div>
</div>
