div.container {
    position: relative;
    width: 100%;
    height: 100%;
    &>div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }
    & .header {
        height: 0;
    }
    & .body {
        height: 80%;
        background-color: #e8e8e8;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-self: center;
        &>div {
            display: inline;
            position: absolute;
            overflow: hidden;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
                z-index: 6;
            }
            img {
                position: relative;
                width: 100%;
            }
        }
    }
    & .footer {
        height: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

.helper-left,
.helper-right {
    opacity: 0;
}
