@import '../../colors.scss';
@media screen and(min-width: 1920px) {
    form>.row {
        width: 1280px !important;
    }
}

@media screen and(max-width: 1919px) {
    form>.row {
        width: 720px !important;
    }
}

@media screen and(max-width: 1279px) {
    form>.row {
        width: 60% !important;
    }
}

.contact {
    &,
    & * {
        transition: all .2s ease-in-out;
    }
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    &.height-0 {
        height: 0 !important;
        position: inherit;
        transition: all .2s ease-in-out;
    }
    &>form {
        height: 100%;
        display: flex;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: #ddd;
        &>.row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            text-align: center;
            align-items: center;
            align-self: center;
            &>.column {
                width: 100%;
                padding: 20px;
                &>input,
                &>textarea {
                    width: 80%;
                    padding: 10px 20px;
                    background-color: white;
                    border: 1px solid grey;
                }
            }
        }
        & button.submit {
            border: 0;
            padding: 10px 20px;
            background-color: $blue;
            color: black;
            font-family: "AcuminProCondSemibold";
            &:hover {
                color: white;
                cursor: pointer;
            }
            &>i.fa {
                margin-right: 5px;
            }
        }
    }
}
