@import '../../width.scss';
div.container {
    margin: 0 auto;
    width: 100%;
    & .grid-item-1 {
        grid-area: first;
    }
    & .grid-item-2 {
        grid-area: second;
    }
    & .grid-item-3 {
        grid-area: third;
    }
    & .grid-item-4 {
        grid-area: fourth;
    }
    & .grid-item-5 {
        grid-area: fifth;
    }
    & .grid-item-6 {
        grid-area: sixth;
    }
    & .grid-container {
        display: grid;
        grid-gap: 15px;
        margin-bottom: 10px;
        grid-template-areas: 'first second third fourth' 'first fifth fifth sixth';
        & div {
            justify-content: center;
            align-items: center;
            align-self: center;
            text-align: center;
            border: 1px solid black;
        }
    }
}
