<div class="container flex-main-width">
    <div class="grid-container">
        <div class="grid-item-1">
            <img src="../../../assets/logo/logo.png" alt="">
        </div>
        <div class="grid-item-2">
            <img src="../../../assets/logo/logo.png" alt="">

        </div>
        <div class="grid-item-3">
            <img src="../../../assets/logo/logo.png" alt="">

        </div>
        <div class="grid-item-4">
            <img src="../../../assets/logo/logo.png" alt="">

        </div>
        <div class="grid-item-5">
            <img src="../../../assets/logo/logo.png" alt="">

        </div>
        <div class="grid-item-6">
            <img src="../../../assets/logo/logo.png" alt="">

        </div>
    </div>
</div>
