@import '../../colors.scss';
.container {
    margin: auto;
    background-image: linear-gradient(to bottom, $purple_op, $blue);
    max-width: 100%;
    &>.grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 720px) {
    .grid-container {
        display: block !important;
    }
}
