@import '../../colors.scss';
@import '../../width.scss';
.mg-0-auto {
    margin: 0 auto;
}

.border-1-s-black {
    border: 1px solid black;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 5px solid $blue;
    &>* {
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    & * {
        height: inherit;
    }
    *>div {
        overflow: hidden;
    }
    &>.nav-box {
        background-color: $blue;
        height: 30%;
        margin: 0 auto;
        &>div.flex-main-width {
            justify-content: center;
            text-align: center;
            margin: 0 auto;
        }
    }
    &>.nav-items {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        &>.right {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            text-align: center;
            justify-content: center;
            align-items: center;
            align-self: center;
            padding: 10px;
            background-color: transparent;
            & button:first() {
                font-weight: bolder;
                text-decoration: underline;
            }
        }
        &>.left {
            background-color: transparent;
            & img {
                background-color: transparent;
            }
        }
        & button {
            background-color: transparent;
            border: 0;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            align-self: center;
            display: inline-block;
            transition: all .2s ease-in-out;
            &>img {
                position: relative;
                overflow: hidden;
                height: inherit;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover:not(.logo) {
                background-color: $blue;
                color: white;
            }
        }
        & button:not(.logo) {
            height: auto;
            padding: 20px 25px;
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}
