@import '../../colors.scss';
@import '../../width.scss';
@import '../../fonts.scss';
.mg-0-auto {
    margin: 0 auto;
}

.border-1-s-black {
    border: 1px solid black;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid darkgrey;
    position: relative;
    z-index: 10;
    & * {
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    & * {
        height: inherit;
    }
    &>.nav-box {
        background-color: $blue;
        height: 30%;
        margin: 0 auto;
        &>div.flex-main-width {
            justify-content: center;
            text-align: center;
            margin: 0 auto;
        }
    }
    &>.nav-items {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        margin: 0 auto;
        & .right {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            text-align: center;
            justify-content: center;
            align-items: center;
            align-self: center;
            padding: 10px;
            background-color: transparent;
            &>div:not(.display-block) {
                margin-top: 20px;
                display: block;
                text-align: center;
                align-items: center;
                align-self: center;
                justify-content: center;
            }
            &>div>div:first() {
                & button:first() {
                    font-weight: bolder;
                    text-decoration: underline;
                }
            }
        }
    }
    &>.left {
        background-color: transparent;
        & img {
            background-color: transparent;
        }
    }
    & button {
        background-color: transparent;
        border: 0;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        align-self: center;
        display: inline-block;
        transition: all .2s ease-in-out;
        border: 1px solid transparent !important;
        &>img {
            position: relative;
            overflow: hidden;
            height: inherit;
            margin-top: -10px;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover:not(.logo) {
            background-color: white;
            color: $blue;
            border: 1px solid $blue !important;
        }
        &::before {
            content: '';
        }
    }
    & button:not(.logo) {
        height: auto;
        padding: 20px 25px;
        @extend .size-3;
        font-family: "AcuminProCondBlack";
    }
    & button>div.nav-button {
        font-family: "AcuminProCondBlack";
        &>i.fa {
            @extend .size-2;
        }
    }
}

.left {
    float: left;
    margin-left: 0 !important;
}

.right {
    float: right;
    margin-right: 0 !important;
}

.menu_icon {
    height: 30px !important;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
    height: auto !important;
    &.visible {
        display: block;
        border-top: 2px solid $blue;
    }
    & .nav-button {
        display: flex;
        font-size: 14px;
        background-color: $white;
        & img {
            top: 0;
            margin-top: 0 !important;
        }
    }
    &.right_margin {
        position: absolute;
        right: 0;
    }
    & .drop-button {
        position: absolute;
        right: 0;
    }
    &[data-element="tall-dropdown"] {
        position: relative;
        width: 100%;
        background-color: $white;
        & div,
        &>button {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            position: relative;
            width: 100%;
            &>div {
                width: auto;
            }
            &>i.fa {
                font-size: 14px;
                position: absolute;
                left: 0;
                margin-left: -20px;
                top: 0;
            }
        }
    }
    &.display-block {
        display: block !important;
    }
}

.display-block {
    display: block !important;
}

.flex-column {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    &>div.dropdown {
        position: relative;
        background-color: $white;
        &>button {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            position: relative;
            width: 100%;
            &>i.fa {
                font-size: 14px;
                position: absolute;
                left: 0;
                margin: 0 auto;
                top: 0;
                margin-top: 20px;
                margin-left: 12.5px;
            }
        }
    }
}

.nav_tall {
    &.visible {
        display: block !important;
    }
    & div.visible {
        display: block !important;
    }
    & * {
        z-index: 10;
    }
    & .dropdown {
        & .dropdown .nav-button {
            width: 100%;
        }
    }
}
