<div class="mg-0-auto navbar">
    <div class="nav-box">
        <div class="flex-main-width api">

        </div>
    </div>
    <div class="flex-main-width nav-items">
        <div class="left">
            <button class="logo"><img src="../../../assets/logo/logo.png" alt="PresWeb"></button>
        </div>
        <div class="right">
            <button class="nav-button">Marketing</button>
            <button class="nav-button">DropDown</button>
            <button class="nav-button">About Us</button>
        </div>
    </div>
</div>
