@media screen and (min-width: 1920px) {
    .flex-main-width {
        max-width: 1919px !important;
    }
}

@media screen and (max-width: 1919px) {
    .flex-main-width {
        max-width: 1279px !important;
    }
}

@media screen and (max-width: 1280px) {
    .flex-main-width {
        max-width: 767px !important;
    }
}
