<div class="container flex-main-width">

    <div class="icons">
        <img src="../../../assets/imgs/1.jpg" alt="1">
        <div class="picture-overlay"></div>
    </div>
    <div class="icons">
        <img src="../../../assets/imgs/4.jpg" alt="1">
        <div class="picture-overlay"></div>
    </div>
    <div class="icons">
        <img src="../../../assets/imgs/3.jpg" alt="1">
        <div class="picture-overlay"></div>
    </div>
    <div class="icons">
        <img src="../../../assets/imgs/2.jpg" alt="1">
        <div class="picture-overlay"></div>
    </div>

</div>
