<div class="container">
    <div class="images">
        <div class="image" *ngFor="let img of imgs; let i = index">
            <div class="{{ i == 0 ? 'img active' : 'img hidden' }}" attr.data-number="{{i}}" attr.style="z-index: {{ imgs.length - i }}; background-image: url(assets/imgs/{{ img.name }})">
                <div [attr.class]="'content ' + img.float">
                    <div class="title">
                        <!-- {{ img.title }} -->
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, praesentium saepe magni odit nisi dolor, nulla voluptates ullam perferendis, modi iure laborum placeat totam repellat. Nihil itaque aliquam animi consequatur! Soluta laboriosam
                        debitis velit harum distinctio delectus nulla molestias? Sit et enim voluptatem in quidem suscipit voluptate ea autem similique!
                        <!-- {{ img.text }} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
