<div class="container">
    <div class="images">
        <div class="image" *ngFor="let img of imgs; let i = index">
            <div class="{{ i == 0 ? 'img active' : 'img hidden' }}" attr.data-number="{{i}}" attr.style="z-index: {{ imgs.length - i }}; background-image: url(assets/imgs/{{ img.name }})">
                <div [attr.class]="'content ' + img.float">
                    <div class="title">
                        <span class="title_highlighted">
                        {{ img.title_highlighted }}
                      </span>
                        <span class="title">
                        {{ img.title }}
                      </span>
                    </div>
                    <div class="text">
                        {{ img.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
