.grid-item {
    padding: 50px;
    text-align: center;
    position: relative;
    & img {
        position: inherit;
        object-fit: contain;
        max-width: 100%;
        box-shadow: 0 0 40px black;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    & .overlay {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 50;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 40px;
    }
}
